http_interactions:
- request:
    method: get
    uri: https://dev.nceas.ucsb.edu/knb/d1/mn/v2/meta/00005f4b-f1ff-40a4-bb0b-7fed84ee9526
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/xml
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns3:systemMetadata xmlns:ns2="http://ns.dataone.org/service/types/v1" xmlns:ns3="http://ns.dataone.org/service/types/v2.0">
            <serialVersion>0</serialVersion>
            <identifier>00005f4b-f1ff-40a4-bb0b-7fed84ee9526</identifier>
            <formatId>application/octet-stream</formatId>
            <size>27</size>
            <checksum algorithm="SHA256">5c10324fd42ff90b66f4fd841ab953c6f2a1f12d717a0c6f70eeaf90fec95f0e</checksum>
            <submitter>http://orcid.org/0000-0002-0381-3766</submitter>
            <rightsHolder>http://orcid.org/0000-0002-0381-3766</rightsHolder>
            <accessPolicy>
                <allow>
                    <subject>public</subject>
                    <permission>read</permission>
                </allow>
            </accessPolicy>
            <replicationPolicy replicationAllowed="true" numberReplicas="3"/>
            <archived>false</archived>
            <dateUploaded>2016-04-14T22:09:40.974+00:00</dateUploaded>
            <dateSysMetadataModified>2016-04-14T22:09:40.974+00:00</dateSysMetadataModified>
            <originMemberNode>urn:node:mnTestKNB</originMemberNode>
            <authoritativeMemberNode>urn:node:mnTestKNB</authoritativeMemberNode>
        </ns3:systemMetadata>
  recorded_at: 2018-05-01 00:07:03 GMT
  recorded_with: vcr/0.0.8.9534, webmockr/0.2.2.9119, crul/0.5.2
